@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    )
  )
);

:root {
  @include mat.all-component-themes($theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  font-family: Inter, Roboto, 'Helvetica Neue', sans-serif;
}
